@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  /* border:1px solid red */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* you can get this from   https://css-loaders.com/progress/*/
/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 20px;
  background:
   linear-gradient(#8e3838 0 0) 0/0% no-repeat
   #ddd;
  animation: l1 2s infinite linear;
}
@keyframes l1 {
    100% {background-size:100%}
}